.wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h1{
    font-family: 'Permanent Marker', cursive;
}

#foodButton{
    border-radius: 6px;
    border-color: grey;
    width: 200px;
    padding: 10px;
}
#drinkButton{
    border-radius: 6px;
    border-color: grey;
    width: 200px;
    padding: 10px;
}
#playButton{
    border-radius: 6px;
    border-color: grey;
    width: 200px;
    padding: 10px;
}