.wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mainBody{
    font-family: 'Permanent Marker', cursive;
}
.buttons{
    display: inline;
}
#food{
    border-radius: 6px;
    border-color: grey;
    width: 200px;
    padding: 10px;
}
#drink{
    border-radius: 6px;
    border-color: grey;
    width: 200px;
    padding: 10px;
}
#love{
    border-radius: 6px;
    border-color: grey;
    width: 200px;
    padding: 10px;
}